<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>984492171119-s3fcl5pop6d41oaifdcusj18kbccdsm3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.984492171119-s3fcl5pop6d41oaifdcusj18kbccdsm3</string>
	<key>API_KEY</key>
	<string>AIzaSyDBkKBh4XJulmpi_dBa1rhE9fmTisfTf0g</string>
	<key>GCM_SENDER_ID</key>
	<string>984492171119</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shino.UnkoKanri</string>
	<key>PROJECT_ID</key>
	<string>unkokanrifinal</string>
	<key>STORAGE_BUCKET</key>
	<string>unkokanrifinal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:984492171119:ios:55bdc00b3d212d830cd29a</string>
	<key>DATABASE_URL</key>
	<string>https://unkokanrifinal.firebaseio.com</string>
</dict>
</plist>